name: Release Action Docker

on: 
  push:
    tags:
    - 'v**'
    - '!*-prebuilt' # don't want to build docker image for 'prebuilt' suffix tag

jobs:

  build:
    name: Release Action Docker

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set DOCKER_REPO_NAME env 
      run: echo DOCKER_REPO_NAME=$(basename ${GITHUB_REPOSITORY}) >> ${GITHUB_ENV}
    - name: Set IMAGE_TAG env 
      run: echo IMAGE_TAG=$(basename ${GITHUB_REF}) >> ${GITHUB_ENV}
    - name: Append latest for each release
      run: echo IMAGE_TAG=${IMAGE_TAG},latest >> ${GITHUB_ENV}
    - name: Environment Printer
      uses: managedkaos/print-env@v1.0
        
    - name: Build & Publish to Github Container Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: ${{ github.actor }}/${{ env.DOCKER_REPO_NAME }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: ghcr.io
        snapshot: false
        tags: "${{ env.IMAGE_TAG }}"

    - name: Build & Publish to DockerHub
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: ${{ github.repository }}
        username: ${{ github.actor }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        snapshot: false
        tags: "${{ env.IMAGE_TAG }}"

